Repository drook207/gststudio: changes, and which pre-commit hooks are due for each by the changed paths.
All: qml-format, qt-includes-check

Path conditions:
  qml-format: any of: \.qml$, but not: ^Generated/.*
  qt-includes-check: any of: \.(cpp|h|hpp)$, but not: ^Generated/.*

Add pre-commit-config
  .clang-tidy
  .markdownlint.yaml
  .pre-commit-config.yaml
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  main.cpp
  src/lib/CMakeLists.txt
  src/lib/gstelement.h
  src/lib/gstelementbrowser.cpp
  src/lib/gstinspectparser.cpp
  src/lib/gstinspectparser.h
  src/lib/gstpadmodel.cpp
  src/lib/gstpadmodel.h
  src/lib/gstpropertymodel.cpp
  src/lib/gstpropertymodel.h
Due: qt-includes-check

Add pre-commit-config
  .cmake-format.py
  .pre-commit-config.yaml
  CMakeLists.txt
  src/lib/CMakeLists.txt
Due: none

Add doxyfile
  Doxyfile
Due: none

Update .pre-commit-config.yaml
  .gitignore
  .pre-commit-config.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update .gitignore
  .gitignore
Due: none

Add doxygen target
  CMakeLists.txt
Due: none

Add output dir to get qmllint work
  src/lib/CMakeLists.txt
Due: none

Fix warnings in qml
  Main.qml
Due: qml-format

Add code documentation
  src/lib/gstelement.h
  src/lib/gstelementbrowser.cpp
  src/lib/gstelementbrowser.h
  src/lib/gstinspectparser.cpp
  src/lib/gstinspectparser.h
  src/lib/gstpadmodel.cpp
  src/lib/gstpadmodel.h
  src/lib/gstpropertymodel.cpp
  src/lib/gstpropertymodel.h
Due: qt-includes-check
